{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us - BookStore {% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'CSS/contactus.css' %}">
{% endblock %}

{% block body %}    
                   <!---  Contact Page  --->

    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>Got any queries? We're happy to help.Contact us threw any of the below mediums & get your questions answered.</p>
        </div>
        <div class="Contact-Container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><img src="{% static 'img/0.png' %}"></div>
                    <div class="text">
                        <h3>Adress</h3>
                        <p>Near Post Office, Naighari Road,<br>Deotalab,Rewa,<br>486341</p>
                    </div>
                </div>
    
                <div class="box">
                    <div class="icon"><img src="{% static 'img/1.png' %}"></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>7509229488</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon"><img src="{% static 'img/2.png' %}"> </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>Anshulpandey663@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="contactForm">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h2>Send Message:</h2>

                    <div class="inputBox">
                        <input type="text" name="full_name" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <input type="tel" name="phone" required="required">
                        <span>Phone</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="text" required="required"></textarea>
                        <span>Type your message... </span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send" required="required">
                    </div>
                </form>
            </div>
        </div>
    </section>               


  {% endblock %}


