{% extends 'base.html' %}

{% load static %}

{% block title %}Gallery - Vedanta {% endblock %}
{% block CSS  %} <link rel="stylesheet" href="{% static 'CSS/gallery.css' %}">{% endblock %}
{% block body %}
  
                   <!--content here -->

    <div class="photos-container">
        <h1>Our Photo Gallery</h1>
        
        <div class="photo-gallery">
            <!----
            <div class="pic">
                <a href=""><img src="{% static 'img/rishabh.jpg' %}" ></a>
                <p>Our student Rishabh Tripathi ( JEE qualified )</p>
            </div>
            <div class="pic">
                <a href=""><img src="{% static 'img/akshay.jpg' %}" ></a>
                <p>Our student Akshay Sharma ( NEET qualified )</p>
            </div>
            <div class="pic">
                <a href=""><img src="{% static 'img/jyoti.jpg' %}" ></a>
                <p>Our student Jyoti Mishra ( NEET qualified )</p>
            </div>

        -->
            {% for d in images %}

            <div class="pic">
                <a href="{{d.file.url}}"><img src="{{d.file.url}}" ></a>
                <p>{{d.caption}}</p>
            </div>

            {% endfor %}
        </div>    
        <div class="page-btn">
           {% if images.has_previous %}
           <a href="?page={{images.previous_page_number}}"><span>&#8592</span></a>
           {%endif%}
           {% for num in images.paginator.page_range %}
           {% if images.number == num %}
            <span style="background: gray; color:white;">{{num}}</span>
           
           {% elif num > images.number|add:'-2' and num < images.number|add:'2' %}
           
           <a href="?page={{num}}"><span>{{num}}</span></a>
           {%endif%}
           {% endfor %}
           {% if images.has_next %}
           <a href="?page={{images.next_page_number}}"><span>&#8594</span></a>
           {%endif%}
    
        </div>

    </div>


{% endblock %}



{% block js %}
     <!--Javascript for video player-->
     <script>
       var videoPlayer = document.getElementById("vid-play");  
       var myVideo = document.getElementById("my-vid");  
       var featVideo = document.getElementById("feature-vid");  
        
       function stopVid(){
           videoPlayer.style.display = "none";
           featVideo.style.display = "block";
       }
       function playVid(file){
              myVideo.src= file;
              videoPlayer.style.display= "block";
              featVideo.style.display = "none";
       }

     </script>
{% endblock %}
